<div class='catalog-item'>
  <div class='catalog-item__icon'>
    {{> shared/icon id=props.icon }}
  </div>
  <span class='catalog-item__label'>{{props.label}}</span>
  <h3 class='catalog-item__name'>
    <a href='{{props.link}}'>{{props.name}}</a>
  </h3>
</div>
