<footer class="page-footer">
  <div class="container">
    <div class='page-footer__grid'>
      <div class='page-footer__grid-item page-footer__grid-item_mobile-wide'>
        <div class='page-footer__block'>
          <h3 class='page-footer__title'>Навигация</h3>
          <nav class="footer-menu">
            <ul class='footer-menu__list'>
              <li class='footer-menu__item'>
                <a href='#'>Продукция и решения</a>
              </li>
              <li class='footer-menu__item'>
                <a href='#'>О компании</a>
              </li>
              <li class='footer-menu__item'>
                <a href='#'>Карьера</a>
              </li>
              <li class='footer-menu__item'>
                <a href='#'>Пресс-центр</a>
              </li>
              <li class='footer-menu__item'>
                <a href='#'>Контакты</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class='page-footer__grid-item'>
        <div class='page-footer__block'>
          <h3 class='page-footer__title'>Отдел продаж</h3>
          <a class='page-footer__link' href='tel:+7 (8555) 244-124'>+7 (8555) 244-124</a>
        </div>
        <div class='page-footer__block'>
          <h3 class='page-footer__title'>Головной офис</h3>
          <address class='page-footer__address'>Россия, г. Нижнекамск, ул. Заводская, 48Б</address>
        </div>
      </div>
      <div class='page-footer__grid-item'>
        <div class='page-footer__block'>
          <h3 class='page-footer__title'>Почта</h3>
          <a class='page-footer__link' href='mailto:mail@kzpm.com'>mail@kzpm.com</a>
        </div>
      </div>
    </div>
    <div class='page-footer__grid'>
      <div class='page-footer__grid-item page-footer__grid-item_mobile-wide'>
        <span class='page-footer__copyright'>© KZPM 2023</span>
        <a class='page-footer__policy' href='#'>Политика конфиденциальности</a>
      </div>
      <div class='page-footer__grid-item'>
        <a class='page-footer__presentation' href='#'>Скачать презентацию компании ↓</a>
      </div>
      <div class='page-footer__grid-item'>
        <div class='page-footer__made-by-wrapper'>
          <a class='page-footer__made-by' href='https://markweber.agency/' target='_blank'>Сайт от <span>Mark Weber</span></a>
        </div>
      </div>
    </div>
  </div>
</footer>
