.catalog-item {
  $block-name: &;

  position: relative;

  height: 100%;
  padding: 4rem;

  background-color: #f1f2f8;
  border-radius: 2rem;

  transition: background-color 0.3s;

  @include breakpoint(tablet) {
    padding: 1.6rem;
  }

  &:hover {
    background-color: #6e51c5;

    #{$block-name}__icon svg {
      stroke: white;
    }

    #{$block-name}__label {
      color: white;
    }

    #{$block-name}__name {
      color: white;
    }
  }

  &__icon {
    width: 9.2rem;
    height: 9.2rem;
    margin-bottom: 4.4rem;

    svg {
      width: 100%;
      height: 100%;

      transition: stroke 0.3s;

      stroke: #6e51c5;
    }
  }

  &__label {
    display: block;
    margin-bottom: 1.6rem;

    color: #1f1f1f;
    font-size: 2rem;

    opacity: 0.3;

    transition: color 0.1s;

    @include breakpoint(tablet) {
      font-size: 1.2rem;
    }
  }

  &__name {
    font-weight: 400;
    font-size: 4.6rem;

    transition: color 0.1s;

    @include breakpoint(tablet) {
      font-size: 1.6rem;
    }

    a {
      &::after {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        content: '';
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}
