.visually-hidden {
    @include visually-hidden;
}

.no-scroll {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    overflow-y: scroll;

    body {
        height: auto;
        overflow: hidden;
    }
}

.hide-on-mobile {
    @include breakpoint(mobile) {
        display: none !important;
    }
}

.show-on-mobile {
    @include breakpoint-mf(small-tablet) {
        display: none !important;
    }
}
